// VARs
$code_bg_color: #2e2a35;
$code_color: #00ceff;
$code_border_color: 1px solid #00fff3;
$code_compile_color: #5a5a5a;
$code_comple_bg_color: #323738;
$debugger_color: #444444;
$debugger_bg_color: rgb(108, 109, 109);
$debugger_bg_color_odd: rgba(255, 255, 255, 0.767);
$debug_color: #00fff3;

body, html {
  width: 100%;

}

body {
  background-color: #282c34;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  position: relative;
  padding-left: 50px;
  
  .App-header {
    min-height: 50px !important;
  }
  
  .app-content {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}


.coder-input {
  display: flex;
  flex-direction: column;
}

.code-text {
  color: $code_color;
  background-color: $code_bg_color;
  border: 1px solid transparent;
  min-height: 250px;
  outline: none;
  padding: 10px;
  width: 300px;

  &:focus {
    border: $code_border_color;
  }
}

.compile-btn {
  height: 50px;
  width: 325px;
  margin:  {
    top: 10px;
  };
  background-color: transparent;
  border: none;
  color: $code_compile_color;
  
  border: 1px solid transparent;
  transition: all .2s ease-in;
  outline: none;
  
  &:hover {
    color: $code_color;
    border: $code_border_color;
    cursor: pointer;
  }

  &:active {
    background-color: $code_comple_bg_color;
  }
}


.debugger {
  position: relative;
  min-height: 250px;
  width: 300px; 
  
  ul {
    counter-reset: li;
    li {
      text-align: left;
      padding-top: 2px;
      display: flex;

      &:nth-child(odd) {
        p {
          background-color: rgba(255, 255, 255, 0.767);
        }
      }
      
      p {
        padding-top: 5px;
        padding-bottom: 5px;
        width: 300px;
        padding-left: 5px;;
        margin: 0;
        background-color: $debugger_bg_color;
        color: $debugger_color;
      }

      &:before {
        position: absolute;
        counter-increment: li;
        content: counter(li, decimal-leading-zero);
        color: white;
        margin-right: 0.25em;
        padding: 5px;
        left: 0;
        opacity: .3;
      }

      &.active {
        &:after {
          content: '\21CF';
          position: absolute;
          font-size: 25px;
          color: $code_color;
          left: -30px;
        }
      }
    }

  }

  .debug {
    font-size: 25px;
    color: $debug_color;
    transition: text-shadow .2s ease-in;
    will-change: text-shadow;
    text-decoration: none;
    &:hover {
      cursor: pointer;
      text-shadow: 0px 0px 10px $code_color;
    }
  }
}

